.blue-1, h3{
    color:#93BFCF;
    font-weight: 400;
}

.blue-2, h2{
   color: #8dc6ff;
   font-weight: 600;
}


.blue-bold{
    color: blue;
    font-weight: bold;
}

a {
  text-decoration: none;
}

div > ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.container{
    justify-content: center;
    width:auto;
    font-family: 'Helvetica', serif;
 }

.center{
    display:flex;
    justify-content: center;
    font-size: xx-large;
}

